<div class="center">
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="uploadField" (change)="handleFileInput($event.target.files)">
        <label class="custom-file-label" for="uploadField">{{this.fileToUpload?this.fileToUpload.name:'Choose
          file'}}</label>
      </div>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
      <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload</button>
    </div>
  </div>
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        </div>
        <input id="searchField" type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"
               placeholder="Enter a name"
               [(ngModel)]="asyncSelected"
               [typeahead]="dataSource"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               (typeaheadOnSelect)="typeaheadOnSelect($event)"
               typeaheadOptionField="name">
        <div *ngIf="typeaheadLoading">Loading</div>
      </div>
    </div>
  </div>
</div>

